$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$primary: rgb(24, 83, 1);

$font-family-sans-serif: "Noto Sans", "Roboto", sans-serif;
$font-family-serif: "Noto Serif", serif;
$font-family-monospace:  "JetBrains Mono", monospace;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700");
@import "~bootstrap/scss/bootstrap";